.wavy {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wavy svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.wavy .shape-fill {
    fill: #F8FAFC;
}